@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
#beer-table {
	border: groove 4px;
	border-color: black;
	background-color:#FFF;
	border-radius: 20px;
}
.row {
	margin:2px;
}
#description-link {
	font-size: 150%;
}
.beer-table-outline {
	background-color: #0C0B0B;
	background-image: url(/img/beer-posts.jpg);
	background-blend-mode: color-burn;
	background-size: 500px;
	padding:20px;
	margin-left:5%;
	margin-right: 5%;
}
.hide-description {
	display:none;
	visibility: hidden;
}
.center {
	text-align: center;
}
.beer-font {
	font-size: 200%;
}
.beer-table-solid {
	background-color: #151111;
	
}
