@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
#beer-table {
	border: groove 4px;
	border-color: black;
	background-color:#DDD;
}
.row {
	margin:2px;
}
#description-link {
	font-size: 150%;
}
.beer-table-outline {
	background-color: black;
	background-image: url(/img/beer.back.jpg);
	background-color: #51B951;
	 background-blend-mode: color-burn;
	background-size: 500px;
	margin-top:20px;
}
.hide-description {
	display:none;
	visibility: hidden;
}
.center {
	text-align: center;
}
.beer-font {
	font-family: "Indie Flower", cursive;
	font-size: 200%;
}
