@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
    background-image: url(/img/hot-wood2.jpg);
}

.logo {
    height:100px;
    background-color: white;
    background-image: url(/img/hot-wood2.jpg);
}
.cover {
    height:30px;
}
.footer {
    background-color: #101010;
    height:55px;
    margin-top: 17px;
    margin-bottom: 10px;
}
.navbar-color {
    height:5px;
    background-color: #F0B310;
}
#myNavbar {
    font-family: "Indie Flower", cursive;
    font-size: 140%;
}
.navbar-brand {
    font-family: "Indie Flower", cursive;
    font-size: 140%;
}

.beerpitches {
    font-family: "Indie Flower", cursive;
    
}
/*
.pitchesindex {
    border: black solid 2px;
}*/