@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/*
 *      Global Tags and Classes
 */

body {
    background-image: url(/img/hot-wood.png);
    background-color: saddlebrown;
    background-blend-mode: hard-light;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.logo {
    background-image:url(/img/hopshop.png);
    background-size: 300px;
    background-repeat: no-repeat;
    height:100px;
    padding: 50px;
}
.cover {
    height:30px;
}
.footer {
    background-color: #101010;
    height:55px;
    margin-top: 17px;
}
.error {
    border-radius: 5px;
    background:green;
    color: red;
    padding-left:5px;
}

/*
 *      Navbar 
 */

.navbar-color {
    height:5px;
    background-color: black;
}
#myNavbar {
    font-family: "Indie Flower", cursive;
    font-size: 140%;
}
.navbar-brand {
    font-family: "Indie Flower", cursive;
    font-size: 140%;
}
#facebook_login_button_navbar{
    margin-top:10px;
}
.beerpitches {
    font-family: "Indie Flower", cursive;
    
}
.navbar-inverse {
    background-color: #4E3304;
}
.navbar-inverse .navbar-brand {
    color:white;
    font-size: 200%;
}
.hopshop-color-brand {
    color:white;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
/*
.pitchesindex {
    border: black solid 2px;
}*/