.beerpitches {
    /*font-family: "Indie Flower", cursive;*/
    
}

.pitches-table {
	/*border: groove 2px;*/
	border-color: black;
	background-color: #ffd8b3;
	border-radius: 10px;
	text-align:center;
}

