

/*
 *  XS media queryies
 */
@media(max-width: 767px) {
    /*xs small screen size*/
}


/*
 *  SM media queries
 */
 @media(min-width: 768px) {
   /* small screen size*/
 }


/*
 *  MD media queries
 */
 @media(min-width: 992px) {
    /*medium media queries*/
 }

 
 /*
  *  LG media queries
  */
  @media(min-width: 1200px) {
    /*large media queries*/
  }
